.fs-16{
    font-size: 16pt;
}
.fs-14{
  font-size: 14pt;
}
a{
    cursor: pointer;
}

nav {
  background-color: #030752;
}


.dropmenu {
  background-color: #242761;
  font-family: Arial, sans-serif	;

}
