<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="../../assets/img/educAcaoBranca3.png" alt="logo" width="200px" height="100px" class="img-fluid">
        </li>
         
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <p class="m-0 font-weight-bold text-white fs-16">Nome do Usúario</p>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../assets/img/user.png" alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
            </a>
            <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                <li class="nav-item pl-3">
                   <p class="m-0 text-white fs-16">Editar <i class=" fa fa-pencil-square-o " aria-hidden="true"></i></p>
                </li>
              <a class="m-3 font-weight-bold text-white fs-16 ">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
          </li>
       
      </ul>
    </div>
  </nav>