.bg {
  background-color: rgb(231, 236, 245);
}

h1 {
  padding: 10px;
}


.font2-title {
  padding: 10px;
  font-size: 20px;

}

.inputbody {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.iconcard{
  height: 45px;
}


#mtema {
  text-align: center;

  text-align: center;

  margin-top: 0px;
}

.color-header {
  background-color: rgba(241, 241, 241, 0.952);
}

.bodypost {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
}


.postfonth1 {
  text-align: center;
}


