<div class="container-fluid bg-fundo">

  <div class="voltar">
    <a routerLink='/home' class='ml-5 text-dark'>
      <i class="fa fa-chevron-left mr-1"></i> Home</a>
  </div>


  <div class="container d-flex justify-content-center">
    <div class="col-md-9">

      <div class="row align-items-center">
        <div class="card border-secondary mt-3 w-100 bodypostagem">
          <div class="card-header inputbody">
            <h1 class="text-center">{{tema.nome}}</h1>
            <div class="card-text mt-3 mb-3">

              <p class="text-center descricao-font">{{tema.descricao}}</p>

            </div>
          </div>
        </div>
      </div>


      <div class="card mt-5 w-100 bodypostagem " *ngFor='let i of listTemaPostagem | orderBy: key : reverse'>

        <div class="card-header bg-fundo1">

          <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center">
              <div class="mr-2">
                <img class="rounded-circle" src="{{i.usuario.foto}}" alt="Imagem do user" width="50px" height="50px"
                  class="img-fluid rounded-circle">
              </div>
              <div class="ml-2">
                <div class="h5 m-0 postfonth">{{i.usuario.nomeCompleto}}</div>
                <div class="h7 text-muted">
                  <p class="text-muted">{{i.data| date:'dd/MM/yyyy'}} às {{i.data| date: 'HH:mm'}} </p>
                </div>
              </div>
            </div>
          </div>
          <h5 id="title-tema"> {{ i.tema}} </h5>
        </div>

        <div class="card-body text-center">
          <h5 class="card-title postfonth1">{{i.titulo}}</h5>
          <p class="card-text mt-3">{{i.conteudo}}</p>

          <img *ngIf="!(i.imagem == null || i.imagem =='')" src="{{ i.imagem }}" width="100%" height="100%" alt="" />

          <div class="container d-flex justify-content-center align-items-center"
            *ngIf="!(i.videoSeguro.changingThisBreaksApplicationSecurity == null || i.videoSeguro.changingThisBreaksApplicationSecurity == '')">
            <div class="row config-video align-items-center">
              <iframe width="560" height="315" [src]="i.videoSeguro" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>

        </div>


        <!--Comentarios -->
        <div class="card-footer text-muted">

          <div class="accordion" [attr.id]="'coment' + i.id">

            <div class="mt-2" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                  [attr.data-target]="'#' + 'comentButton' + i.id" aria-expanded="false" aria-controls="collapseTwo">
                  <p class="text-primary font-weight-bold mb-2">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i> Comentar ({{i.comentario.length}})
                  </p>
                </button>
              </h5>
            </div>

            <div [attr.id]="'comentButton' + i.id" class="collapse" aria-labelledby="headingTwo"
              [attr.data-parent]="'#' + 'coment' + i.id">

              <div class="row mb-3">
                <div class="col d-flex justify-content-center align-items-center p-4">
                  <img class="rounded-circle mr-3" src={{i.usuario.foto}} width="30px" height="30px" />
                  <div class="input-group w-100">
                    <input type="text" class="form-control mr-2" placeholder="Digite aqui seu comentário" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]='comentario.comentario' id='inputComentario'>
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" (click)='comentar(i.id)' id="button-addon2">Comentar</button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row d-flex justify-content-center"
                *ngFor='let coment of i.comentario | orderBy : key : reverse'>
                <div class="col-md-11">
                  <div class="card mb-3 shadow border-0 rounded">
                    <div class="card-body">
                      <div class="row">
                        <div class="col d-flex justify-content-start">
                          <p> <img class=rounded-circle src={{coment.usuario.foto}} width="30px" height="30px" />
                            {{coment.usuario.nomeCompleto}} comentou: </p>

                            <div *ngIf='idUserLogado == coment.usuario.id || idUserLogado == i.usuario.id ' class="col d-flex justify-content-end">
                              <a aria-hidden="false" aria-label="Exemplo delete" class="text-danger" (click)='apagarComentario(coment.id)'>Excluir <i
                                class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <p class="card-text ml-4" aria-describedby="texto">{{coment.comentario}} </p>
                        </div>
                      </div>

                      <hr>

                      <div class="col d-flex justify-content-end">
                        <small id="texto" class="form-text m-0 text-muted text-monospace">
                          Comentado em {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data | date:'HH:mm'}}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/Comentarios-->


      </div>



    </div>
  </div>

</div>
