<!-- entrar EducAcao -->
<div class="container-fluid bg-fundo ">
  <nav class="navbar navbar-expand-lg  navbar-dark" >
    <a class="navbar-brand" href="#"><img class="tm-img" src="../../assets/img/educAcaoAzul3.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#home">Home <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seção
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-info" href="#dicas">Dicas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-info" href="#brasil">Brasil</a>
            <a class="dropdown-item text-info" href="#exterior">Exterior</a>
          </div>
        </li>
      </ul>
      <div>
        <!-- Botão para acionar modalEntrar -->
        <a class="btn btn-outline-success mr-4 mt-3 mb-4" type="submit" data-toggle="modal" data-target="#modalLogin">Login</a>
         <!-- Botão para acionar modalCadastrar -->
         <a class="btn btn-outline-info  mr-4 mt-3 mb-4"  type="submit"data-toggle="modal" data-target="#modalCadastrar">Cadastre-se</a>
      </div>
    </div>
  </nav>
  <hr class="mt-0">

  <div class="row  d-flex align-items-center">

     <div class="col-md-7">

      <div class="row d-flex justify-content-center">
         <div class="col-md-7 text-white">

           <h1 class="fs-40 ">Acesse sua nova comunidade de estudos! 📚🎓</h1>

         </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-7 text-white">

          <div class="form-group">
              <label for="usuario">E-mail</label>
              <input [(ngModel)]='userLogin.email' type="email" class="form-control text-info" name="email" id="email" placeholder="nome@exemplo.com">
          </div>

          <div class="form-group">
              <label for="senha">Senha</label>
              <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Sua Senha">
          </div>

           <button class="btn btn-success form-control mt-3" (click)='entrar()'>Entrar</button>


           <p class="text-center mt-2">
            <a class='text-white ' type="submit" data-toggle="modal" data-target="#modalRecuperarSenha">Esqueceu sua senha?</a>
        </p>

           <hr class="mt-2 mb-2">

        <p class="text-center ">
            Não tem uma conta? <a class="text-info" type="submit"data-toggle="modal" data-target="#modalCadastrar">Cadastre-se</a>
        </p>

        </div>


      </div>

    </div>

    <div class="col-md-5 ">

       <!-- <img src="assets/img/mundoGif.gif" alt="" width="980px" height="570px"> -->

       <img src="https://media.giphy.com/media/iFaPIqooUgZ2MkVNJI/giphy.gif" alt="" width="100%" height="100%">


    </div>
  </div>
<!-- /entrar EducAcao -->
<!-- informações sobre EducAcao -->
</div>

<div class="container-fluid bg-fundo2">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h1 class="text center text-white mt-3">Sobre o Projeto</h1>
    </div>
  </div>
</div>

<div class="container-fluid bg-fundo1">
  <div class="row">
    <div class="col-md-4">
      <img width="100%" height="100%"src="https://i.imgur.com/FQ1LBV1.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

    </div>
  </div>

</div>
<!-- /informações sobre EducAcao -->

<!-- ModalLogin -->
<div class="modal fade " id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content bg-fundo text-info">
      <div class="modal-header">
      <h5 class="modal-title" id="TituloModalCentralizado">Login</h5>
      <button type="button" class="close text-info" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="email" class=" text-white">Endereço de email:</label>
          <input [(ngModel)]='userLogin.email' type="email" class="form-control text-info" name="email" id="email" placeholder="nome@exemplo.com">
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Sua Senha">
        </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)='entrar()'>Entrar</button>
      </div>
  </div>
  </div>
</div>
<!-- /ModalLogin -->

<!-- ModalCadastrar -->
<div class="modal fade bg-fundo" id="modalCadastrar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
  <div class="modal-content bg-fundo text-info">
      <div class="modal-header">
      <h5 class="modal-title" id="TituloModalCentralizado">Cadastre-se</h5>
      <button type="button" class="close text-info" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="nomeCompleto" class=" text-white">Nome Completo:</label><br>
              <input [(ngModel)]='user.nomeCompleto' type="text" name="nomeCompleto" id="nomeCompleto" class="form-control text-info" >
          </div>


          <div class="form-group">
              <label for="email" class=" text-white">E-mail:</label>
              <input [(ngModel)]='user.email' type="email" class="form-control text-info" name="email" id="email" placeholder="nome@exemplo.com">
          </div>

          <div class="form-group">
            <label for="foto">Link da Foto</label>
            <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua Senha">
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirmar Senha</label>
            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirme sua Senha">
          </div>
        </form>
      </div>
      <div class="modal-footer ">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      <button type="button" class="btn btn-outline-success"  data-dismiss="modal" (click)='cadastrar()'>cadastrar</button>
      </div>
  </div>
  </div>

</div>
<!-- /ModalCadastrar -->
<!-- Modal Recuperar Senha-->
<div class="modal fade " id="modalRecuperarSenha" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content bg-fundo text-info">
      <div class="modal-header">
      <h5 class="modal-title" id="TituloModalCentralizado">Recuperar Senha</h5>
      <button type="button" class="close text-info" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="email" class=" text-white">Digite seu endereço de e-mail:</label>
              <input type="email" class="form-control bg-dark text-info" id="exampleFormControlInput1">
          </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      <button type="button" class="btn btn-success" data-dismiss="modal">Recuperar Senha</button>
      </div>
  </div>
  </div>
</div>
<!-- /Modal Recuperar Senha -->

<!--footer-->
<footer class="mb-2">
  <div class="row w-100 ">
    <div class="col-md-12">
      <p class="text-center">
        Todos os direitos reservados: EducAção&copy;
      </p>
    </div>
  </div>

</footer>
<!--/footer-->


