.bg-fundo{
  background: linear-gradient(135deg,#05235f,#000103);

}

.bg-fundo1{
  background: linear-gradient(180deg,#05235f, #42c1f3);

}


.bg-fundo2{
  background: #05235f;
}


.fs-40{
  font-size: 40pt;
  }

  .fs-18{
  font-size: 18pt;
  }
  .icon{
    width: 50px;
    height: 50px;
}
hr {
    height: 1px;
    color: #42c1f3;
    background-color: #42c1f3;
    border: none;
}
.tm-img{
  width: 200px;
  height: 60px;
}
