<div class="container-fluid bg-white">

  <div class="row d-flex justify-content-center">
    <div class="col-md-5 mb-4 mt-4 inputbody">
      <h1 class="text-center mb-3">Atualizar meu usuário</h1>
      <hr>
        <div class="form-group">
            <label for="nome"> Nome </label>
            <input [(ngModel)]='user.nomeCompleto' (keyup)='validaNome($event)' class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome" >
        </div>

        <div class="form-group">
            <label for="usuario"> Email </label>
            <input [(ngModel)]='user.email' (keyup)='validaEmail($event)' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
        </div>

        <div class="form-group">
            <label for="foto"> Link da Foto </label>
            <input [(ngModel)]='user.foto' (keyup)='validaFoto($event)' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
        </div>

        <div class="form-group">
            <label for="senha"> Senha </label>
            <input  (keyup)='validaSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
        </div>

        <div class="form-group">
            <label for="confirmaSenha"> Confirmar Senha </label>
            <input [(ngModel)]='user.senha' (keyup)='validaConfirmaSenha($event)' class="form-control" type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Confirma sua senha">
        </div>

    <!--     <div class="form-group">
          <label for="tipo"> Tipo </label>
          <input [(ngModel)]="user.tipo" class="form-control" type="text" name="tipo" id="tipo" placeholder="tipo" />
        </div> -->

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger mr-4 font-button" routerLink= '/home'><i class="fa fa-remove"></i> Cancelar</button>
          <button type="submit" class="btn btn-success font-button" (click)='atualizar()'><i class="fa fa-check"></i> Atualizar</button>
      </div>
    </div>
</div>

</div>
