<div class="container-fluid" id="bg">

  <div class="row d-flex justify-content-center">

    <div class="col-md-5 mb-4 mt-4 inputbody ">
      <h1 class="text-center mb-3">Atualizar Postagem</h1>
      <div class="form-group">
        <hr>
        <label for="titulo">Escolha um tema</label>
        <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
          <option *ngFor='let item of listaTema' value="{{item.id}}">{{item.nome}}</option>
        </select>


        <label for="titulo">Título</label>
        <input [(ngModel)]='postagem.titulo' (keyup)='validaTitulo($event)' type="text" class="form-control" id="titulo">

        <label for="texto">Texto</label>
        <textarea [(ngModel)]="postagem.conteudo" (keyup)='validaConteudo($event)' class="form-control" name="texto" id="texto" rows="2"  placeholder="Digite um novo texto"></textarea>

        <label for="imagem">Imagem</label>
        <input [(ngModel)]='postagem.imagem' (keyup)='validaImagem($event)' type="text" class="form-control" id="imagem" placeholder="Altere o link para a imagem">

        <label for="titulo" class="modaltitle">Link do video</label>
        <div class="container">
          <div class="row">
            <input [(ngModel)]="postagem.video" type="text" placeholder="Link do video" />
            <button class="btn btn-secondary ml-2" (click)="videoembed()"><i class="fa fa-video-camera" aria-hidden="true"></i> Visualizar
            </button>
          </div>
          <div class="row config-video" *ngIf="videoSeguro != null">
            <iframe width="560" height="315" [src]="videoSeguro" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>

        <!-- <label for="referencia">Referências de apoio</label>
        <input [(ngModel)]="postagem.referencia" type="text" class="form-control" name="texto" id="referencia" placeholder="Altere o link do conteúdo"> -->
      </div>

      <hr>

      <div class="d-flex justify-content-center">
        <button class="btn btn-danger mr-4 font-button" routerLink='/home'><i class="fa fa-remove"></i> Cancelar</button>
        <button class="btn btn-success font-button" (click)='atualizar()'><i class="fa fa-check"></i> Atualizar</button>
      </div>

    </div>
  </div>

</div>
