.bg {
  background: linear-gradient(180deg,#676767, #656565);
}


label {
  color: whitesmoke;
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', serif;
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-family:  Georgia, serif;
  padding: 10px;

}

.inputbody {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px;
  background-image: url('https://i.imgur.com/NBImLs8.jpg');
  background-size: 510px;
}

.font-button {
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', serif;
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgb(92, 92, 92);
}
