.tm-img1 {
  width: 60px;
  height: 50px;
}

.borda {
  border-radius: 5%;
}

.config-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
}
#bg {
  /* background-color: #e9e9e9; */
  background-color: rgb(231, 236, 245);
}

.iconbuscar {
  height: 20px;
}

label {
  color: #2e2e2e;
  font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman,
    serif;
  font-weight: bold;
}

.navstyle {
  font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman,
    serif;
  border-radius: 20px;
  color: #151515;
}

#iconmodal {
  height: 20px;
  margin-bottom: 0px;
}

#titulobuscar,
#titulopost {
  text-align: center;
  font-weight: bold;
  font-family: Georgia, serif;
}

.titulocard {
  text-align: center;
  font-weight: bolder;
  color: #151515;
  font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman,
    serif;
}

.iconcard {
  height: 45px;
}
.iconcard1 {
  height: 20px;
  padding-bottom: 5px;
}

#bodypostagem,
.bodypost {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

#conteudocard {
  font-weight: bold;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5px;
}

.cardfont {
  text-decoration: none;
  font-family: Georgia, serif;
  color: #5c5d6d;
}

.modaltitle {
  font-weight: bolder;
  padding: 5px;
  margin-bottom: 0px;
}

.colormodaltitle {
  background-color: #030752;
  color: whitesmoke;
}

.titlerodape {
  padding: 10px 12px;
}

#modalheight {
  padding: 16px;
  padding-bottom: 0px;
}

#mb0 {
  margin-bottom: 0px;
}

.blur {
  backdrop-filter: blur(3px);
}

.postfonth {
  font-weight: bold;
  color: #000000;
  font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman,
    serif;
}

.postfonth1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman,
    serif;
  margin-bottom: 0px;
}

.color-header {
  background-color: rgba(241, 241, 241, 0.952);
}

.tema-font {
  text-align: right;
  font-size: small;
  font-weight: bold;
  font-family: Georgia, serif;
  color: #a5a4a4d7;
  margin-top: 15px;
}

.mtema {
  text-align: right;
  font-size: smaller;
  font-weight: bold;
  font-family: Georgia, serif;
  color: #161616;
  margin-top: 15px;
}

li{
  list-style-type: none;
}

.font-button {
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', serif;
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgb(92, 92, 92);
}

