<div class="container-fluid d-flex justify-content-center bg-dark">
  <!-- Parte fixa esqueda Pag -->
  <div class="col-md-4 ">

    <div class="row  d-flex justify-content-center">

      <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><img class="tm-img1" src="../../assets/img/educAcaoAzul4.png" alt=""> Buscar</h5>
         <input type="text">

          <a href="#" class="btn btn-info ml-2">P</a>
        </div>
      </div>

    </div>

    <div class="row d-flex justify-content-center">

      <div class="card mt-3 mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Temas</h5>
          <ul>
            <li># Exatas</li>
            <li># Humanas</li>
            <li># Biológicas</li>
            <li># Tecnologia</li>
            <li># Idiomas</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <!-- /Parte fixa esqueda Pag -->

  <!-- postagens -->
  <div class="col-md-8 d-flex justify-content-center">
    <div class="container">

      <div class="col-md-10">

        <div class="row bg-white mt-3">
          <p class="card-text"><img src="{{foto}}" alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
            <input type="text" class=" ml-3"  placeholder="Nova Publicação"></p>
        </div>


        <div class="row align-items-center">
          <div class="card mt-3">
            <div class="card-header">
              Destaque
            </div>
            <div class="card-body">
              <h5 class="card-title">Título especial</h5>
              <p class="card-text">Com suporte a texto embaixo, que funciona como udicional.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>

      </div>





    </div>
  </div>
  <!-- /postagens -->
</div>

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">

          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o título">

          <label for="titulo">Texto</label>
          <textarea  class="form-control" name="texto" id="texto" rows="3" ></textarea>

          <label for="titulo">Escolha um tema, ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a></label>
          <select class="form-control" name="tema" id="tema">

          </select>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- /Modal -->
