.tm-img1{
  width: 60px;
  height: 50px;
}

.borda{
  border-radius: 5%;
}


.config-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
}
