<body>
  <div class="container" >
    <div class="row" id="inicio">
      <div class="col-md-6">
        <img  class='logo' src="../../assets/img/educAcaoBranca3.png" alt="Logo EducAção">
      </div>
    </div>

    <hr>

    <div class="row mb-5 mt-5 ">
      <div class="voltar">
        <a class="text-white" routerLink='/start'>
          <i class="fa fa-chevron-left mr-1" ></i> Voltar
        </a>
      </div>
      <div class="col-md-12 mb-5">
        <h1 class="text-center title-inicial">Sobre nós</h1>
      </div>
    </div>

    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/oKBuh6o.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/alonso-mendes-15a26b1b6/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="../../assets/img/linkedin.png">
              </a>
              <a href="https://github.com/AlonsoMendes" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="../../assets/img/github (1).png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Alonso Mendes</h1>
        <p>
          Desenvolvedor Java cursando o 6° semestre de Ciência da Computação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>


    <div class="row  mt-5 mb-5">
       <div class="col-md-6 mt-3">
         <h1 class="text-center font-nome">Felipe Casagrande</h1>
         <p> Meu nome é Felipe Casagrande, tenho 24 anos e sou formado em Ciências Biológicas. Trabalhei como professor de Ciências e Biologia, onde aprendi muito a lidar com pessoas, trabalhar em grupo e resolver problemas. Em 2020, tive meu primeiro contato com a programação e foi amor à primeira vista. Desde então, venho aprendendo cada dia mais, sempre com o objetivo de me tornar um desenvolvedor melhor do que eu era ontem. Caso queira falar comigo, entre em contato por meio das minhas redes sociais.</p>
       </div>
       <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/EUNtDCJ.png" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/felipecasagrande1307/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="../../assets/img/linkedin.png">
              </a>
              <a href="https://github.com/fehcasa" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="../../assets/img/github (1).png">
              </a>
            </div>
          </div>
        </div>
      </div>
     </div>



     <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/eIi06hF.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/gustavo-esteban/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="../../assets/img/linkedin.png">
              </a>
              <a href="https://github.com/Gustavo-Esteban" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="../../assets/img/github (1).png">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Gustavo Esteban</h1>
        <p>Desenvolvedor FullStack Angular Spring.<br>
        Cursando Analise e Desenvolvimento de Sistemas na Universidade Unopar, procuro sempre me desenvolver e buscar novos desafios, e na area da programação eu me encontrei, pois aqui sei que vou me desafiar todos os dias e superar cada desafio proposto! para mais informações me siga nas redes sociais. </p>
      </div>
    </div>



    <div class="row  mt-5 mb-5">
      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Igor Milhomens</h1>
        <p>Atuante no setor de tecnologia por 7 anos, tive a oportunidade de desenvolver diversos projetos. Em minha trajetória percebi que  possuo grande facilidade em aprender coisas novas e resolver problemas. Gosto de me desafiar e renovar meus conhecimentos, alinhado a esse pensamento hoje busco uma oportunidade para atuar como desenvolvedor com o intuito de  aplicar e desenvolver ainda mais meus conhecimentos nesse novo seguimento da tecnologia.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/oBH37Mm.jpg">
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/igor-milhomens/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="../../assets/img/linkedin.png">
              </a>
              <a href="https://github.com/igorMilhomens" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="../../assets/img/github (1).png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/D9PBSwv.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/leonardo-burjato/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="../../assets/img/linkedin.png">
              </a>
              <a href="https://github.com/qbleonardo" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="../../assets/img/github (1).png">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <h1 class="text-center font-nome">Leonardo Burjato</h1>
        <p> Através do meu interesse em ser capaz de desenvolver tecnologias que gerem praticidades tanto profissional, quanto por  entretenimento ao usuário, me direciono para área de tecnologia afim de contribuir com esse propósito.
          Sou determinado e prestativo, disposto sempre a aprender e a colaborar com as necessidades propostas, em busca de uma evolução coletiva.</p>
      </div>
    </div>



    <div class="row  mt-5 ">
      <div class="col-md-6 mt-5">
        <h1 class="text-center font-nome">Lucas Paifar</h1>
        <p> Sou entusiasta da tecnologia, a curiosidade é o que
          me move e faz com que eu nunca queira parar
          de aprender.
          Sou persistente, comunicativo e amante do
          aprendizado.
          sempre fui apaixonado por tecnologia e com o passar do
          tempo fui descobrindo as infinitas possibilidades que eu posso ter com
          a programação e todo seu ecossistema. Sou uma pessoa dedicada no que
          faço e gosto de explorar o que a tecnologia pode me oferecer independente
          da linguagem Dessa forma venho buscando aprender cada vez mais através de pratica e estudos.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/hKt5s1r.jpg">
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/lucaspaifar/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="../../assets/img/linkedin.png">
              </a>
              <a href="https://github.com/lpaifar" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="../../assets/img/github (1).png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="subir mb-5 ">
        <a class="text-white html" href="#inicio">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>


</body>

<footer>
  <div class="row w-100 ">
    <div class="col-md-12">
      <p class="text-center">
        Todos os direitos reservados: EducAção&copy;
      </p>
    </div>
  </div>

</footer>




